.aviso { color: orange; }
            .sucesso { color: green; }
            .erro { color: red; }

.text{
     font-family: Open Sans;
     width: 250px; 
     height: 30px; 
     margin-bottom: 10px;
}
.text2{
    margin-left: 25px;
    font-family: Open Sans; 
     margin-bottom: 10px;
     font-size: 14px;
}
.link{
    font-family: Open Sans; 
     margin-bottom: 10px;
     font-size: 14px;
    font-weight: bold;
    color: #0669de;
    text-decoration: none;
}

.fundo{
        margin-top: 10px;
    width:250px;
    height:100px;
    position:absolute;
    left:50%;
    margin-left:-140px;
    font-family: Open Sans;
    color: #666666;
}

.button{
        background-color: #0669de;
        color: white;
        font-family: Open Sans;
        font-weight: bold;
        width: 255px; 
        height: 35px; 
        margin-bottom: 10px;
}